@page "/sessions"

@using PlanningPoker.Views;
@using PlanningPoker.ViewModels;

@inherits SessionsBase

<h3>Sessions</h3>

@if (Bind(vm => vm.Sessions) == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row">
        @foreach (SessionViewModel session in Bind(vm => vm.Sessions))
        {
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@Bind(session, s => s.Title)</h5>
                    <p class="card-text">@Bind(session, s => s.State)</p>
                    <a href="sessions/@session.SessionId" class="btn btn-link">Go to Lobby</a>
                </div>
            </div>
        }
    </div>
}

<EditForm Model="@BindingContext.NewSession" OnValidSubmit="@BindingContext.CreateSessionAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="BindingContext.NewSession.Title"></InputText>

    <button type="submit" class="btn btn-primary">Create Session</button>
</EditForm>
